* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
/* navbar logo */
.navbar-container img {
  width: 100px;
}
/* Nav links */
.list {
  display: flex;
  font-family: Orbitron, sans-serif;
  font-weight: 600;
  list-style: none;
}
.list-item {
  position: relative;
  margin-right: 1.5rem;
  padding: 0.2rem;
}
.list-item:hover {
  cursor: pointer;
}
/* Navbar buuton */

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-icon {
  margin-right: 1rem;
}
.nav-button {
  background: transparent;
  border: 2px solid #0d0d0d;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
}

/* Hero section styling */
.hero-container {
  width: 100vw;
  max-width: 70%;
  /* height: 100%; */
}
.square img {
  position: relative;
  top: 14rem;
  left: 4rem;
  width: 300px;
}
.person img {
  position: absolute;
  top: 12rem;
  left: 1rem;
  width: 300px;
}
.star img {
  position: absolute;
  top: 10rem;
  right: 5rem;
  width: 30px;
}
.globe img {
  position: relative;
  bottom: 15rem;
  left: 10rem;
  width: 50px;
}

/* right container goes here */

.hero-container-right {
  position: relative;
  left: 20rem;
  bottom: 15rem;
  text-align: center;
  margin-right: 0 auto;
  padding: 5rem;
}
.hero-heading {
  font-size: 2.5rem;
  font-family: "Orbitron", "sans-serif";
  font-weight: 700;
  margin-bottom: 2rem;
}
.hero-description {
  font-size: 14px;
  font-family: "Poppins", "sans-serif";
  font-weight: 300;
  margin: 1.5rem 0;
}
.button-email {
  font-family: "Orbitron", "sans-serif";
  background: transparent;
  border: 2px solid #0d0d0d;
  border-radius: 0.5rem;
  padding: 0.2rem 2.5rem;
  margin: 2rem 0;
}
.button-join {
  font-family: "Orbitron", "sans-serif";
  background: #0d0d0d;
  color: #ffffff;
  margin-left: 1rem;
  padding: 0.2rem;
  border-radius: 5px;
}
.contact-heading {
  font-family: "Poppins", "sans-serif";
  font-size: 14px;
  margin: 1rem 0;
  font-weight: 300;
}
.icons img {
  width: 30px;
  margin: 1rem 0.3rem;
}
